[run]
branch = false
parallel = true
data_file = ${PWD}/.coverage
omit=
    $SPARK_HOME/*
    fink_fat/others/night_report.py
    fink_fat/others/performance_test.py
    fink_fat/others/utils.py
    setup.py
    fink_fat/test/test_sample.py
    fink_fat/others/plot_perf_test.py
    fink_fat/__init__.py
    bin/orbit_cli.py
    bin/offline_cli.py
    *fink_fat_notebook*