[run]
branch = false
data_file = ${PWD}/.coverage
omit=
    src/others/night_report.py
    src/others/performance_test.py
    src/orbit_fitting/ephem.py
    src/others/utils.py
    setup.py
    src/orbit_fitting/plot_orbstat.py
    src/test/test_sample.py
