[flake8]
ignore = 
    E302
    E501
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
    fink_fat/others/plot_perf_test.py
    fink_fat/others/night_report.py
    ../fink-fat/fink_fat_out_2/mpc/test_assoc_tag.py
    ../fink-fat/fink_fat_test/plot_perf_test.py
per-file-ignores =
    ../fink-fat/fink_fat/orbit_fitting/orbfit_files.py:W503
    ../fink-fat/fink_fat/orbit_fitting/mpcobs_files.py:W503
    ../fink-fat/fink_fat/orbit_fitting/orbfit_local.py:W503
    ../fink-fat/fink_fat/orbit_fitting/orbfit_cluster.py:W503
    ../fink-fat/fink_fat/orbit_fitting/orbfit_merger.py:W503
    ../fink-fat/bin/fink_fat_cli.py:W503
    ../fink-fat/fink_fat/test/test_sample.py:F601
    ../fink-fat/fink_fat_notebook/results_analysis/utils.py:W503
    ../fink-fat/fink_fat_notebook/parameters_selection/exploring_script.py:E721
    ../fink-fat/fink_fat_notebook/follow_up/ephem_association.py:W503
    ../fink-fat/fink_fat/seeding/dbscan_seeding.py:W503
