/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
env/
# bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version

.pdm-python
proptest-regressions/

seed_real_data.py
ztf_alert.parquet
python/tests/test_perf_seed.py
linked_trajectories.parquet
linking_metric.py
linking_inter.py
Fink-FAT/
min_cost_flow.py
test_config.toml
test_exp/

crates/fink-fat-engine/.github/agents/
docs/
edge_plots/
model_eval_plots/
engine_config.*.yaml
run_all_nights.sh
storage/
tracking_report/
crates/fink-fat-explorer/test_postgress_db.md
crates/fink-fat-explorer/tailwindcss-extra
engine_config_lsst.*.yaml